<a href="https://colab.research.google.com/github/gangprojects/Realtor-API/blob/main/Housing_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from datetime import datetime
import pandas as pd
import requests
import json
import seaborn as sns
import plotly.express as px

## Realtor APIs

In [15]:
#@title API keys
api_key = "269548ab3dmsh0e2fe9f7e801cb7p10e428jsn4e0c815bca9d"

In [16]:
url = "https://realty-in-ca1.p.rapidapi.com/properties/get-statistics"

querystring = {"Longitude":"-122.994560","Latitude":"49.246445","CultureId":"1"}

headers = {
	"X-RapidAPI-Key": api_key,
	"X-RapidAPI-Host": "realty-in-ca1.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

In [17]:
all_data = response.json()

## Web Json formatter is really useful

In [18]:
all_data

{'ErrorCode': {'Id': 200,
  'Description': 'Success - OK',
  'ProductName': 'Realtor API 7 | 20221109.3 | 660facef3b43c5755e5e5919321dc8bda7be3159 | Wednesday, November 9, 2022 10:42:45 AM',
  'Version': '1.0.8348.28292'},
 'Data': [{'key': '',
   'value': [{'key': 'Daytime Population', 'value': '495'},
    {'key': 'Number of Businesses', 'value': '8'},
    {'key': 'Population size', 'value': '555'},
    {'key': 'Median age', 'value': '45.3'},
    {'key': 'Average Household Size', 'value': '2.5'},
    {'key': 'Average Household Income', 'value': '$130,886.35'},
    {'key': 'Households with Children (%)', 'value': '62'},
    {'key': 'Households without Children (%)', 'value': '38'},
    {'key': 'Number of Households', 'value': '224'}]},
  {'key': 'Retail Sales', 'value': [{'key': '< 1', 'value': '5'}]},
  {'key': 'Population by Age Group',
   'value': [{'key': '0 - 4 years old', 'value': '26'},
    {'key': '5 - 9 years old', 'value': '28'},
    {'key': '10 - 19 years old', 'value': '65'},
    {'key': '20 - 34 years old', 'value': '76'},
    {'key': '35 - 49 years old', 'value': '121'},
    {'key': '50 - 54 years old', 'value': '43'},
    {'key': '55 - 64 years old', 'value': '101'},
    {'key': '65 - 69 years old', 'value': '42'},
    {'key': '70 - 79 years old', 'value': '41'},
    {'key': '80 - 84 years old', 'value': '2'},
    {'key': '85+ years old', 'value': '10'}]},
  {'key': 'Population Growth/Projection',
   'value': [{'key': '2013', 'value': '553'},
    {'key': '2018', 'value': '555'},
    {'key': '2021', 'value': '572'},
    {'key': '2023', 'value': '585'},
    {'key': '2028', 'value': '596'}]},
  {'key': 'Education',
   'value': [{'key': 'No cert. / Diploma / Degree', 'value': '30'},
    {'key': 'High school', 'value': '100'},
    {'key': 'Apprenticeship / Trade cert. / Diploma', 'value': '46'},
    {'key': 'Non-university cert. / Diploma', 'value': '74'},
    {'key': 'University cert. / Diploma below bachelor', 'value': '18'},
    {'key': 'University degree', 'value': '200'}]},
  {'key': 'Marital Status',
   'value': [{'key': 'Married', 'value': '237'},
    {'key': 'Common law', 'value': '53'},
    {'key': 'Single', 'value': '119'},
    {'key': 'Separated', 'value': '11'},
    {'key': 'Divorced', 'value': '39'},
    {'key': 'Widowed', 'value': '9'}]},
  {'key': 'Languages',
   'value': [{'key': 'English', 'value': '422'},
    {'key': 'French', 'value': '9'},
    {'key': 'Italian', 'value': '5'},
    {'key': 'German', 'value': '15'},
    {'key': 'Spanish', 'value': '14'},
    {'key': 'Polish', 'value': '6'},
    {'key': 'Mandarin', 'value': '12'},
    {'key': 'Chinese n.o.s', 'value': '7'},
    {'key': 'Russian', 'value': '5'},
    {'key': 'Gujarati', 'value': '8'},
    {'key': 'Romanian', 'value': '4'},
    {'key': 'Japanese', 'value': '11'},
    {'key': 'Czech', 'value': '6'},
    {'key': 'Other Languages', 'value': '14'},
    {'key': 'English & Non-Official', 'value': '7'}]},
  {'key': 'Household income',
   'value': [{'key': '$0 - $29,999', 'value': '19'},
    {'key': '$30,000 - $59,999', 'value': '38'},
    {'key': '$60,000 - $79,999', 'value': '44'},
    {'key': '$80,000 - $99,999', 'value': '46'},
    {'key': '$100,000 - $149,999', 'value': '52'},
    {'key': '$150,000 - $199,999', 'value': '15'},
    {'key': '$200,000+', 'value': '10'}]},
  {'key': 'Children at Home',
   'value': [{'key': '0 - 4 years old', 'value': '26'},
    {'key': '5 - 9 years old', 'value': '28'},
    {'key': '10 - 14 years old', 'value': '33'},
    {'key': '15 - 19 years old', 'value': '31'},
    {'key': '20 - 24 years old', 'value': '26'},
    {'key': '25+ years old', 'value': '22'}]},
  {'key': 'Ownership',
   'value': [{'key': 'Own', 'value': '202'}, {'key': 'Rent', 'value': '22'}]},
  {'key': 'Construction Date',
   'value': [{'key': '1961 - 1980', 'value': '206'},
    {'key': '1981 - 1990', 'value': '8'},
    {'key': '1991 - 2000', 'value': '9'}]},
  {'key': 'Occupations',
   'value': [{'key': 'Not Applicable', 'value': '3'},
    {'key': 'Management', 'value': '28'},
    {'key': 'Business, Finance, Admin', 'value': '65'},
    {'key': 'Sciences', 'value': '70'},
    {'key': 'Health', 'value': '3'},
    {'key': 'Social Sciences, Education, Government, Religion', 'value': '77'},
    {'key': 'Art, Culture, Recreation, Sport', 'value': '5'},
    {'key': 'Sales and service', 'value': '63'},
    {'key': 'Primary Industries', 'value': '3'},
    {'key': 'Manufacture and Utilities', 'value': '4'}]}]}

## View all the contents

In [19]:
i = 1
for data_table in all_data['Data']:
  print('Table {0}:'.format(i),data_table['key'])
  i+=1

Table 1:
Table 2: Retail Sales
Table 3: Population by Age Group
Table 4: Population Growth/Projection
Table 5: Education
Table 6: Marital Status
Table 7: Languages
Table 8: Household income
Table 9: Children at Home
Table 10: Ownership
Table 11: Construction Date
Table 12: Occupations

## Data Exploration
### Table 1: General Description of the city
- Daytime population is in abreviation by 1000
- Population is also in abreviation by 1000

In [20]:
df_table_1 = pd.DataFrame(all_data['Data'][0]['value'])
df_table_1

                               key        value
0               Daytime Population          495
1             Number of Businesses            8
2                  Population size          555
3                       Median age         45.3
4           Average Household Size          2.5
5         Average Household Income  $130,886.35
6     Households with Children (%)           62
7  Households without Children (%)           38
8             Number of Households          224

### Table 2: Retail Sales
- Not much useful information about retail was provided by the Realtor APIs

In [60]:
df_table_2 = pd.DataFrame(all_data['Data'][1]['value'])
df_table_2

         key value
0    Unknown    86
1        < 1   239
2    1 - 4.9   466
3   5 - 19.9   190
4  20 - 99.9    64
5      100+     11

### Table 3: Population by Age Group
- 35 -49 years group and 55 - 64 years age group are the dominant age group in Burnaby
- We also check consistency of the data with Table 1 of total population

In [22]:

df_table_3 = pd.DataFrame(all_data['Data'][2]['value'])
df_table_3['value'] = df_table_3.apply(lambda x: int(x['value']), axis = 1)
print('sum of total population:', df_table_3['value'].sum())
print('population from table 1:', df_table_1.loc[df_table_1['key'] == "Population size"]['value'].iloc[0])
df_table_3

sum of total population: 555
population from table 1: 555

                  key  value
0     0 - 4 years old     26
1     5 - 9 years old     28
2   10 - 19 years old     65
3   20 - 34 years old     76
4   35 - 49 years old    121
5   50 - 54 years old     43
6   55 - 64 years old    101
7   65 - 69 years old     42
8   70 - 79 years old     41
9   80 - 84 years old      2
10      85+ years old     10

### Table 4: Population Growth and Projection

In [23]:
df_table_4 = pd.DataFrame(all_data['Data'][3]['value'])
df_table_4

    key value
0  2013   553
1  2018   555
2  2021   572
3  2023   585
4  2028   596

### Table 5: Education

In [24]:
df_table_5 = pd.DataFrame(all_data['Data'][4]['value'])
df_table_5

                                         key value
0                No cert. / Diploma / Degree    30
1                                High school   100
2     Apprenticeship / Trade cert. / Diploma    46
3             Non-university cert. / Diploma    74
4  University cert. / Diploma below bachelor    18
5                          University degree   200

### Table 6: Marital Status

In [25]:
df_table_6 = pd.DataFrame(all_data['Data'][5]['value'])
df_table_6

          key value
0     Married   237
1  Common law    53
2      Single   119
3   Separated    11
4    Divorced    39
5     Widowed     9

## Table 7: Languages sorted by number of people

In [26]:
df_table_7 = pd.DataFrame(all_data['Data'][6]['value'])
df_table_7['value'] = df_table_7.apply(lambda x: int(x['value']), axis = 1)
df_table_7 = df_table_7.sort_values(by=['value'], ascending=False)
print('Length of table:', len(df_table_7))
df_table_7

Length of table: 15

                       key  value
0                  English    422
3                   German     15
4                  Spanish     14
13         Other Languages     14
6                 Mandarin     12
11                Japanese     11
1                   French      9
9                 Gujarati      8
7            Chinese n.o.s      7
14  English & Non-Official      7
5                   Polish      6
12                   Czech      6
2                  Italian      5
8                  Russian      5
10                Romanian      4

## Table 8 :Household Income

In [27]:
df_table_8 = pd.DataFrame(all_data['Data'][7]['value'])
df_table_8

                   key value
0         $0 - $29,999    19
1    $30,000 - $59,999    38
2    $60,000 - $79,999    44
3    $80,000 - $99,999    46
4  $100,000 - $149,999    52
5  $150,000 - $199,999    15
6            $200,000+    10

## Table 9 Children at Home
- This table is assuming for people with children only.
- It shows a breakdown of distribution of age of children at home

In [28]:
df_table_9 = pd.DataFrame(all_data['Data'][8]['value'])
df_table_9

                 key value
0    0 - 4 years old    26
1    5 - 9 years old    28
2  10 - 14 years old    33
3  15 - 19 years old    31
4  20 - 24 years old    26
5      25+ years old    22

## Table 10: Ownership

In [29]:
df_table_10 = pd.DataFrame(all_data['Data'][9]['value'])
df_table_10

    key value
0   Own   202
1  Rent    22

## Table 11: Construction Date
- The construction date is missing after 2000

In [30]:
df_table_11 = pd.DataFrame(all_data['Data'][10]['value'])
df_table_11.append({'key':'remaining',
                    'value': str(332)},ignore_index=True)

           key value
0  1961 - 1980   206
1  1981 - 1990     8
2  1991 - 2000     9
3    remaining   332

## Table 12: Occupations

In [31]:
df_table_12 = pd.DataFrame(all_data['Data'][11]['value'])
df_table_12['value'] = df_table_12.apply(lambda x: int(x['value']), axis = 1)
df_table_12 = df_table_12.sort_values(by=['value'], ascending=False)
df_table_12

                                                key  value
5  Social Sciences, Education, Government, Religion     77
3                                          Sciences     70
2                          Business, Finance, Admin     65
7                                 Sales and service     63
1                                        Management     28
6                   Art, Culture, Recreation, Sport      5
9                         Manufacture and Utilities      4
0                                    Not Applicable      3
4                                            Health      3
8                                Primary Industries      3

## Greater Vancouver Area

In [37]:
df=[]
df = pd.DataFrame(df,columns = ['City','Latitude','Longitude'])
df['City'] = ['Vancouver, BC, Canada','North Vancouver, BC, Canada','West Vancouver, BC, Canada',
              'Richmond, BC, Canada','Burnaby, BC, Canada','Coquitlam, BC, Canada','Port Moody, BC, Canada',
              'New Westminster, BC, Canada','Surrey, BC, Canada', 'Delta, BC, Canada']

In [43]:
url = "https://realty-in-ca1.p.rapidapi.com/locations/auto-complete"
for i in range(df.shape[0]):
  querystring = {"Area":df['City'][i],"CultureId":"1"}

  headers = {
	"X-RapidAPI-Key": api_key,
	"X-RapidAPI-Host": "realty-in-ca1.p.rapidapi.com"
  }

  response = requests.request("GET", url, headers=headers, params=querystring)
  df['Latitude'][i] = response.json()['SubArea'][0]['Latitude']
  df['Longitude'][i] = response.json()['SubArea'][0]['Longitude']

In [44]:
df['Latitude'] = df['Latitude'].apply(lambda x: pd.to_numeric(x,errors='coerce'))
df['Longitude'] = df['Longitude'].apply(lambda x: pd.to_numeric(x,errors='coerce'))

In [45]:
df.dtypes

City          object
Latitude     float64
Longitude    float64
dtype: object

In [46]:
url = "https://realty-in-ca1.p.rapidapi.com/properties/get-statistics"

jsonfile  = []


for i in range(df.shape[0]):
   
  querystring = {"Longitude":df.iloc[i,2],"Latitude":df.iloc[i,1],"CultureId":"1"}

  headers = {
	"X-RapidAPI-Key": api_key,
	"X-RapidAPI-Host": "realty-in-ca1.p.rapidapi.com"
  }

  response = requests.request("GET", url, headers=headers, params=querystring)

  all_data = response.json()
  
  jsonfile.append(all_data)

In [47]:
jsonfile

[{'ErrorCode': {'Id': 200,
   'Description': 'Success - OK',
   'ProductName': 'Realtor API 7 | 20221109.3 | 660facef3b43c5755e5e5919321dc8bda7be3159 | Wednesday, November 9, 2022 10:42:45 AM',
   'Version': '1.0.8348.28292'},
  'Data': [{'key': '',
    'value': [{'key': 'Daytime Population', 'value': '47285'},
     {'key': 'Number of Businesses', 'value': '2196'},
     {'key': 'Population size', 'value': '3223'},
     {'key': 'Median age', 'value': '34.4'},
     {'key': 'Average Household Size', 'value': '1.6'},
     {'key': 'Average Household Income', 'value': '$81,129.77'},
     {'key': 'Households with Children (%)', 'value': '28'},
     {'key': 'Households without Children (%)', 'value': '72'},
     {'key': 'Number of Households', 'value': '1954'}]},
   {'key': 'Retail Sales',
    'value': [{'key': 'Unknown', 'value': '621'},
     {'key': '< 1', 'value': '902'},
     {'key': '1 - 4.9', 'value': '482'},
     {'key': '5 - 19.9', 'value': '126'},
     {'key': '20 - 99.9', 'value': '58'},
     {'key': '100+ ', 'value': '7'}]},
   {'key': 'Population by Age Group',
    'value': [{'key': '0 - 4 years old', 'value': '110'},
     {'key': '5 - 9 years old', 'value': '36'},
     {'key': '10 - 19 years old', 'value': '78'},
     {'key': '20 - 34 years old', 'value': '1635'},
     {'key': '35 - 49 years old', 'value': '985'},
     {'key': '50 - 54 years old', 'value': '185'},
     {'key': '55 - 64 years old', 'value': '321'},
     {'key': '65 - 69 years old', 'value': '80'},
     {'key': '70 - 79 years old', 'value': '90'},
     {'key': '80 - 84 years old', 'value': '16'},
     {'key': '85+ years old', 'value': '23'}]},
   {'key': 'Population Growth/Projection',
    'value': [{'key': '2013', 'value': '2576'},
     {'key': '2018', 'value': '3223'},
     {'key': '2021', 'value': '3683'},
     {'key': '2023', 'value': '3976'},
     {'key': '2028', 'value': '4579'}]},
   {'key': 'Education',
    'value': [{'key': 'No cert. / Diploma / Degree', 'value': '104'},
     {'key': 'High school', 'value': '394'},
     {'key': 'Apprenticeship / Trade cert. / Diploma', 'value': '65'},
     {'key': 'Non-university cert. / Diploma', 'value': '288'},
     {'key': 'University cert. / Diploma below bachelor', 'value': '204'},
     {'key': 'University degree', 'value': '2000'}]},
   {'key': 'Marital Status',
    'value': [{'key': 'Married', 'value': '912'},
     {'key': 'Common law', 'value': '336'},
     {'key': 'Single', 'value': '1477'},
     {'key': 'Separated', 'value': '82'},
     {'key': 'Divorced', 'value': '198'},
     {'key': 'Widowed', 'value': '50'}]},
   {'key': 'Languages',
    'value': [{'key': 'English', 'value': '1695'},
     {'key': 'French', 'value': '64'},
     {'key': 'Italian', 'value': '9'},
     {'key': 'German', 'value': '32'},
     {'key': 'Punjabi', 'value': '29'},
     {'key': 'Cantonese', 'value': '89'},
     {'key': 'Spanish', 'value': '95'},
     {'key': 'Arabic', 'value': '129'},
     {'key': 'Tagalog', 'value': '26'},
     {'key': 'Portuguese', 'value': '27'},
     {'key': 'Polish', 'value': '11'},
     {'key': 'Mandarin', 'value': '98'},
     {'key': 'Chinese n.o.s', 'value': '71'},
     {'key': 'Urdu', 'value': '12'},
     {'key': 'Vietnamese', 'value': '14'},
     {'key': 'Persian', 'value': '206'},
     {'key': 'Russian', 'value': '32'},
     {'key': 'Dutch', 'value': '2'},
     {'key': 'Korean', 'value': '240'},
     {'key': 'Gujarati', 'value': '10'},
     {'key': 'Romanian', 'value': '17'},
     {'key': 'Hindi', 'value': '4'},
     {'key': 'Croatian', 'value': '4'},
     {'key': 'Serbian', 'value': '10'},
     {'key': 'Bengali', 'value': '7'},
     {'key': 'Japanese', 'value': '91'},
     {'key': 'Somali', 'value': '2'},
     {'key': 'Aboriginal Languages', 'value': '4'},
     {'key': 'Other Languages', 'value': '110'},
     {'key': 'English & French', 'value': '2'},
     {'key': 'English & Non-Official', 'value': '63'},
     {'key': 'French & Non-Official', 'value': '15'}]},
   {'key': 'Household income',
    'value': [{'key': '$0 - $29,999', 'value': '502'},
     {'key': '$30,000 - $59,999', 'value': '443'},
     {'key': '$60,000 - $79,999', 'value': '296'},
     {'key': '$80,000 - $99,999', 'value': '245'},
     {'key': '$100,000 - $149,999', 'value': '284'},
     {'key': '$150,000 - $199,999', 'value': '71'},
     {'key': '$200,000+', 'value': '113'}]},
   {'key': 'Children at Home',
    'value': [{'key': '0 - 4 years old', 'value': '102'},
     {'key': '5 - 9 years old', 'value': '24'},
     {'key': '10 - 14 years old', 'value': '12'},
     {'key': '15 - 19 years old', 'value': '36'},
     {'key': '20 - 24 years old', 'value': '49'},
     {'key': '25+ years old', 'value': '58'}]},
   {'key': 'Ownership',
    'value': [{'key': 'Own', 'value': '774'},
     {'key': 'Rent', 'value': '1180'}]},
   {'key': 'Construction Date',
    'value': [{'key': '1961 - 1980', 'value': '41'},
     {'key': '1981 - 1990', 'value': '82'},
     {'key': '1991 - 2000', 'value': '146'},
     {'key': '2001 - 2005', 'value': '179'},
     {'key': '2006 - 2010', 'value': '845'},
     {'key': '2011 - 2016', 'value': '448'},
     {'key': 'After 2016', 'value': '213'}]},
   {'key': 'Occupations',
    'value': [{'key': 'Not Applicable', 'value': '29'},
     {'key': 'Management', 'value': '331'},
     {'key': 'Business, Finance, Admin', 'value': '652'},
     {'key': 'Sciences', 'value': '306'},
     {'key': 'Health', 'value': '275'},
     {'key': 'Social Sciences, Education, Government, Religion',
      'value': '236'},
     {'key': 'Art, Culture, Recreation, Sport', 'value': '195'},
     {'key': 'Sales and service', 'value': '373'},
     {'key': 'Trades, Transport, Operators', 'value': '31'}]}]},
 {'ErrorCode': {'Id': 200,
   'Description': 'Success - OK',
   'ProductName': 'Realtor API 7 | 20221109.3 | 660facef3b43c5755e5e5919321dc8bda7be3159 | Wednesday, November 9, 2022 10:42:45 AM',
   'Version': '1.0.8348.28292'},
  'Data': [{'key': '',
    'value': [{'key': 'Daytime Population', 'value': '1028'},
     {'key': 'Number of Businesses', 'value': '78'},
     {'key': 'Population size', 'value': '1067'},
     {'key': 'Median age', 'value': '41.8'},
     {'key': 'Average Household Size', 'value': '2.0'},
     {'key': 'Average Household Income', 'value': '$72,428.15'},
     {'key': 'Households with Children (%)', 'value': '56'},
     {'key': 'Households without Children (%)', 'value': '44'},
     {'key': 'Number of Households', 'value': '546'}]},
   {'key': 'Retail Sales',
    'value': [{'key': 'Unknown', 'value': '16'},
     {'key': '< 1', 'value': '50'},
     {'key': '1 - 4.9', 'value': '10'},
     {'key': '5 - 19.9', 'value': '2'}]},
   {'key': 'Population by Age Group',
    'value': [{'key': '0 - 4 years old', 'value': '36'},
     {'key': '5 - 9 years old', 'value': '31'},
     {'key': '10 - 19 years old', 'value': '88'},
     {'key': '20 - 34 years old', 'value': '256'},
     {'key': '35 - 49 years old', 'value': '269'},
     {'key': '50 - 54 years old', 'value': '68'},
     {'key': '55 - 64 years old', 'value': '143'},
     {'key': '65 - 69 years old', 'value': '63'},
     {'key': '70 - 79 years old', 'value': '87'},
     {'key': '80 - 84 years old', 'value': '17'},
     {'key': '85+ years old', 'value': '9'}]},
   {'key': 'Population Growth/Projection',
    'value': [{'key': '2013', 'value': '1006'},
     {'key': '2018', 'value': '1067'},
     {'key': '2021', 'value': '1220'},
     {'key': '2023', 'value': '1321'},
     {'key': '2028', 'value': '1595'}]},
   {'key': 'Education',
    'value': [{'key': 'No cert. / Diploma / Degree', 'value': '22'},
     {'key': 'High school', 'value': '129'},
     {'key': 'Apprenticeship / Trade cert. / Diploma', 'value': '89'},
     {'key': 'Non-university cert. / Diploma', 'value': '163'},
     {'key': 'University cert. / Diploma below bachelor', 'value': '64'},
     {'key': 'University degree', 'value': '489'}]},
   {'key': 'Marital Status',
    'value': [{'key': 'Married', 'value': '400'},
     {'key': 'Common law', 'value': '89'},
     {'key': 'Single', 'value': '282'},
     {'key': 'Separated', 'value': '37'},
     {'key': 'Divorced', 'value': '102'},
     {'key': 'Widowed', 'value': '46'}]},
   {'key': 'Languages',
    'value': [{'key': 'English', 'value': '490'},
     {'key': 'French', 'value': '16'},
     {'key': 'Italian', 'value': '2'},
     {'key': 'German', 'value': '8'},
     {'key': 'Punjabi', 'value': '3'},
     {'key': 'Cantonese', 'value': '8'},
     {'key': 'Spanish', 'value': '13'},
     {'key': 'Arabic', 'value': '5'},
     {'key': 'Tagalog', 'value': '15'},
     {'key': 'Portuguese', 'value': '6'},
     {'key': 'Polish', 'value': '5'},
     {'key': 'Mandarin', 'value': '15'},
     {'key': 'Chinese n.o.s', 'value': '13'},
     {'key': 'Persian', 'value': '242'},
     {'key': 'Russian', 'value': '3'},
     {'key': 'Korean', 'value': '137'},
     {'key': 'Gujarati', 'value': '4'},
     {'key': 'Romanian', 'value': '7'},
     {'key': 'Hungarian', 'value': '2'},
     {'key': 'Japanese', 'value': '8'},
     {'key': 'Turkish', 'value': '5'},
     {'key': 'Other Languages', 'value': '29'},
     {'key': 'English & Non-Official', 'value': '23'}]},
   {'key': 'Household income',
    'value': [{'key': '$0 - $29,999', 'value': '158'},
     {'key': '$30,000 - $59,999', 'value': '164'},
     {'key': '$60,000 - $79,999', 'value': '63'},
     {'key': '$80,000 - $99,999', 'value': '51'},
     {'key': '$100,000 - $149,999', 'value': '81'},
     {'key': '$150,000 - $199,999', 'value': '21'},
     {'key': '$200,000+', 'value': '8'}]},
   {'key': 'Children at Home',
    'value': [{'key': '0 - 4 years old', 'value': '36'},
     {'key': '5 - 9 years old', 'value': '31'},
     {'key': '10 - 14 years old', 'value': '44'},
     {'key': '15 - 19 years old', 'value': '44'},
     {'key': '20 - 24 years old', 'value': '18'},
     {'key': '25+ years old', 'value': '67'}]},
   {'key': 'Ownership',
    'value': [{'key': 'Own', 'value': '264'},
     {'key': 'Rent', 'value': '282'}]},
   {'key': 'Construction Date',
    'value': [{'key': 'Before 1960', 'value': '26'},
     {'key': '1961 - 1980', 'value': '113'},
     {'key': '1981 - 1990', 'value': '6'},
     {'key': '1991 - 2000', 'value': '77'},
     {'key': '2001 - 2005', 'value': '23'},
     {'key': '2006 - 2010', 'value': '239'},
     {'key': '2011 - 2016', 'value': '39'},
     {'key': 'After 2016', 'value': '23'}]},
   {'key': 'Occupations',
    'value': [{'key': 'Not Applicable', 'value': '5'},
     {'key': 'Management', 'value': '55'},
     {'key': 'Business, Finance, Admin', 'value': '113'},
     {'key': 'Sciences', 'value': '101'},
     {'key': 'Health', 'value': '25'},
     {'key': 'Social Sciences, Education, Government, Religion',
      'value': '90'},
     {'key': 'Art, Culture, Recreation, Sport', 'value': '9'},
     {'key': 'Sales and service', 'value': '117'},
     {'key': 'Trades, Transport, Operators', 'value': '77'},
     {'key': 'Primary Industries', 'value': '2'},
     {'key': 'Manufacture and Utilities', 'value': '10'}]}]},
 {'ErrorCode': {'Id': 200,
   'Description': 'Success - OK',
   'ProductName': 'Realtor API 7 | 20221109.3 | 660facef3b43c5755e5e5919321dc8bda7be3159 | Wednesday, November 9, 2022 10:42:45 AM',
   'Version': '1.0.8348.28292'},
  'Data': [{'key': '',
    'value': [{'key': 'Daytime Population', 'value': '2388'},
     {'key': 'Number of Businesses', 'value': '181'},
     {'key': 'Population size', 'value': '561'},
     {'key': 'Median age', 'value': '53.9'},
     {'key': 'Average Household Size', 'value': '1.7'},
     {'key': 'Average Household Income', 'value': '$83,160.77'},
     {'key': 'Households with Children (%)', 'value': '51'},
     {'key': 'Households without Children (%)', 'value': '49'},
     {'key': 'Number of Households', 'value': '323'}]},
   {'key': 'Retail Sales',
    'value': [{'key': 'Unknown', 'value': '31'},
     {'key': '< 1', 'value': '115'},
     {'key': '1 - 4.9', 'value': '31'},
     {'key': '5 - 19.9', 'value': '3'}]},
   {'key': 'Population by Age Group',
    'value': [{'key': '0 - 4 years old', 'value': '15'},
     {'key': '5 - 9 years old', 'value': '24'},
     {'key': '10 - 19 years old', 'value': '42'},
     {'key': '20 - 34 years old', 'value': '55'},
     {'key': '35 - 49 years old', 'value': '114'},
     {'key': '50 - 54 years old', 'value': '43'},
     {'key': '55 - 64 years old', 'value': '86'},
     {'key': '65 - 69 years old', 'value': '44'},
     {'key': '70 - 79 years old', 'value': '79'},
     {'key': '80 - 84 years old', 'value': '32'},
     {'key': '85+ years old', 'value': '33'}]},
   {'key': 'Population Growth/Projection',
    'value': [{'key': '2013', 'value': '6030'},
     {'key': '2018', 'value': '561'},
     {'key': '2021', 'value': '6376'},
     {'key': '2023', 'value': '6534'},
     {'key': '2028', 'value': '6898'}]},
   {'key': 'Education',
    'value': [{'key': 'No cert. / Diploma / Degree', 'value': '54'},
     {'key': 'High school', 'value': '102'},
     {'key': 'Apprenticeship / Trade cert. / Diploma', 'value': '44'},
     {'key': 'Non-university cert. / Diploma', 'value': '72'},
     {'key': 'University cert. / Diploma below bachelor', 'value': '3'},
     {'key': 'University degree', 'value': '231'}]},
   {'key': 'Marital Status',
    'value': [{'key': 'Married', 'value': '216'},
     {'key': 'Common law', 'value': '19'},
     {'key': 'Single', 'value': '124'},
     {'key': 'Separated', 'value': '21'},
     {'key': 'Divorced', 'value': '75'},
     {'key': 'Widowed', 'value': '51'}]},
   {'key': 'Languages',
    'value': [{'key': 'English', 'value': '356'},
     {'key': 'French', 'value': '5'},
     {'key': 'German', 'value': '8'},
     {'key': 'Cantonese', 'value': '6'},
     {'key': 'Spanish', 'value': '5'},
     {'key': 'Arabic', 'value': '6'},
     {'key': 'Mandarin', 'value': '9'},
     {'key': 'Chinese n.o.s', 'value': '15'},
     {'key': 'Urdu', 'value': '7'},
     {'key': 'Ukrainian', 'value': '3'},
     {'key': 'Persian', 'value': '63'},
     {'key': 'Russian', 'value': '6'},
     {'key': 'Dutch', 'value': '3'},
     {'key': 'Korean', 'value': '24'},
     {'key': 'Gujarati', 'value': '2'},
     {'key': 'Hungarian', 'value': '2'},
     {'key': 'Croatian', 'value': '3'},
     {'key': 'Serbian', 'value': '4'},
     {'key': 'Bengali', 'value': '6'},
     {'key': 'Japanese', 'value': '5'},
     {'key': 'Czech', 'value': '4'},
     {'key': 'Other Languages', 'value': '7'},
     {'key': 'English & Non-Official', 'value': '3'},
     {'key': 'French & Non-Official', 'value': '5'}]},
   {'key': 'Household income',
    'value': [{'key': '$0 - $29,999', 'value': '131'},
     {'key': '$30,000 - $59,999', 'value': '101'},
     {'key': '$60,000 - $79,999', 'value': '30'},
     {'key': '$80,000 - $99,999', 'value': '5'},
     {'key': '$100,000 - $149,999', 'value': '4'},
     {'key': '$200,000+', 'value': '52'}]},
   {'key': 'Children at Home',
    'value': [{'key': '0 - 4 years old', 'value': '12'},
     {'key': '5 - 9 years old', 'value': '21'},
     {'key': '10 - 14 years old', 'value': '16'},
     {'key': '15 - 19 years old', 'value': '21'},
     {'key': '20 - 24 years old', 'value': '11'},
     {'key': '25+ years old', 'value': '26'}]},
   {'key': 'Ownership',
    'value': [{'key': 'Own', 'value': '96'}, {'key': 'Rent', 'value': '227'}]},
   {'key': 'Construction Date',
    'value': [{'key': 'Before 1960', 'value': '48'},
     {'key': '1961 - 1980', 'value': '179'},
     {'key': '1981 - 1990', 'value': '38'},
     {'key': '1991 - 2000', 'value': '30'},
     {'key': '2001 - 2005', 'value': '17'},
     {'key': 'After 2016', 'value': '11'}]},
   {'key': 'Occupations',
    'value': [{'key': 'Not Applicable', 'value': '2'},
     {'key': 'Management', 'value': '18'},
     {'key': 'Business, Finance, Admin', 'value': '63'},
     {'key': 'Health', 'value': '27'},
     {'key': 'Social Sciences, Education, Government, Religion',
      'value': '31'},
     {'key': 'Art, Culture, Recreation, Sport', 'value': '73'},
     {'key': 'Sales and service', 'value': '40'},
     {'key': 'Trades, Transport, Operators', 'value': '5'},
     {'key': 'Manufacture and Utilities', 'value': '5'}]}]},
 {'ErrorCode': {'Id': 200,
   'Description': 'Success - OK',
   'ProductName': 'Realtor API 7 | 20221109.3 | 660facef3b43c5755e5e5919321dc8bda7be3159 | Wednesday, November 9, 2022 10:42:45 AM',
   'Version': '1.0.8348.28292'},
  'Data': [{'key': '',
    'value': [{'key': 'Daytime Population', 'value': '498'},
     {'key': 'Number of Businesses', 'value': '11'},
     {'key': 'Population size', 'value': '883'},
     {'key': 'Median age', 'value': '49.9'},
     {'key': 'Average Household Size', 'value': '2.2'},
     {'key': 'Average Household Income', 'value': '$62,573.07'},
     {'key': 'Households with Children (%)', 'value': '64'},
     {'key': 'Households without Children (%)', 'value': '36'},
     {'key': 'Number of Households', 'value': '403'}]},
   {'key': 'Retail Sales',
    'value': [{'key': '< 1', 'value': '7'}, {'key': '1 - 4.9', 'value': '4'}]},
   {'key': 'Population by Age Group',
    'value': [{'key': '0 - 4 years old', 'value': '24'},
     {'key': '5 - 9 years old', 'value': '12'},
     {'key': '10 - 19 years old', 'value': '54'},
     {'key': '20 - 34 years old', 'value': '204'},
     {'key': '35 - 49 years old', 'value': '149'},
     {'key': '50 - 54 years old', 'value': '61'},
     {'key': '55 - 64 years old', 'value': '177'},
     {'key': '65 - 69 years old', 'value': '65'},
     {'key': '70 - 79 years old', 'value': '82'},
     {'key': '80 - 84 years old', 'value': '23'},
     {'key': '85+ years old', 'value': '32'}]},
   {'key': 'Population Growth/Projection',
    'value': [{'key': '2013', 'value': '901'},
     {'key': '2018', 'value': '883'},
     {'key': '2021', 'value': '890'},
     {'key': '2023', 'value': '895'},
     {'key': '2028', 'value': '903'}]},
   {'key': 'Education',
    'value': [{'key': 'No cert. / Diploma / Degree', 'value': '73'},
     {'key': 'High school', 'value': '220'},
     {'key': 'Apprenticeship / Trade cert. / Diploma', 'value': '53'},
     {'key': 'Non-university cert. / Diploma', 'value': '70'},
     {'key': 'University cert. / Diploma below bachelor', 'value': '59'},
     {'key': 'University degree', 'value': '352'}]},
   {'key': 'Marital Status',
    'value': [{'key': 'Married', 'value': '386'},
     {'key': 'Common law', 'value': '25'},
     {'key': 'Single', 'value': '266'},
     {'key': 'Separated', 'value': '22'},
     {'key': 'Divorced', 'value': '75'},
     {'key': 'Widowed', 'value': '53'}]},
   {'key': 'Languages',
    'value': [{'key': 'English', 'value': '137'},
     {'key': 'French', 'value': '6'},
     {'key': 'Cantonese', 'value': '148'},
     {'key': 'Spanish', 'value': '11'},
     {'key': 'Arabic', 'value': '7'},
     {'key': 'Tagalog', 'value': '112'},
     {'key': 'Mandarin', 'value': '177'},
     {'key': 'Chinese n.o.s', 'value': '170'},
     {'key': 'Persian', 'value': '8'},
     {'key': 'Russian', 'value': '6'},
     {'key': 'Korean', 'value': '6'},
     {'key': 'Japanese', 'value': '10'},
     {'key': 'Other Languages', 'value': '45'},
     {'key': 'English & Non-Official', 'value': '34'}]},
   {'key': 'Household income',
    'value': [{'key': '$0 - $29,999', 'value': '178'},
     {'key': '$30,000 - $59,999', 'value': '127'},
     {'key': '$60,000 - $79,999', 'value': '39'},
     {'key': '$80,000 - $99,999', 'value': '19'},
     {'key': '$100,000 - $149,999', 'value': '32'},
     {'key': '$150,000 - $199,999', 'value': '4'},
     {'key': '$200,000+', 'value': '4'}]},
   {'key': 'Children at Home',
    'value': [{'key': '0 - 4 years old', 'value': '24'},
     {'key': '5 - 9 years old', 'value': '12'},
     {'key': '10 - 14 years old', 'value': '20'},
     {'key': '15 - 19 years old', 'value': '32'},
     {'key': '20 - 24 years old', 'value': '37'},
     {'key': '25+ years old', 'value': '100'}]},
   {'key': 'Ownership',
    'value': [{'key': 'Own', 'value': '220'},
     {'key': 'Rent', 'value': '183'}]},

In [48]:
jsonfile[2]['Data'][0]['value'][2]['value']

'561'

In [49]:
data_1 = pd.DataFrame(jsonfile[0]['Data'][0]['value'])
data_1

                               key       value
0               Daytime Population       47285
1             Number of Businesses        2196
2                  Population size        3223
3                       Median age        34.4
4           Average Household Size         1.6
5         Average Household Income  $81,129.77
6     Households with Children (%)          28
7  Households without Children (%)          72
8             Number of Households        1954

In [50]:
pd.DataFrame(jsonfile[0]['Data'][1]['value'])

         key value
0    Unknown   621
1        < 1   902
2    1 - 4.9   482
3   5 - 19.9   126
4  20 - 99.9    58
5      100+      7

In [51]:
temp = [float(jsonfile[x]['Data'][0]['value'][2]['value'].replace("$","").replace(",","")) for x in range(df.shape[0]) ]


new_df  = pd.DataFrame({'city': df['City'],
                        'Population': temp })

In [52]:
new_df
px.bar(new_df, x='city', y='Population',color='Population',orientation='v')

In [55]:
temp = [float(jsonfile[x]['Data'][0]['value'][4]['value'].replace("$","").replace(",","")) for x in range(df.shape[0]) ]


new_df  = pd.DataFrame({'city': df['City'],
                        'Average Household Size': temp })


px.bar(new_df, x='city', y='Average Household Size',color='Average Household Size',orientation='v')

In [56]:
temp = [float(jsonfile[x]['Data'][0]['value'][5]['value'].replace("$","").replace(",","")) for x in range(df.shape[0]) ]


new_df  = pd.DataFrame({'city': df['City'],
                        'Median Income': temp })


px.bar(new_df, x='city', y='Median Income',color='Median Income',orientation='v')

In [76]:
pd.DataFrame(jsonfile[0]['Data'][3]['value'])['value'].tolist()

['2576', '3223', '3683', '3976', '4579']

In [85]:
new_df = []
for i in range(df.shape[0]):
  new_df.append(pd.DataFrame(jsonfile[i]['Data'][3]['value'])['value'].tolist())

In [78]:
pd.DataFrame(jsonfile[0]['Data'][3]['value'])

    key value
0  2013  2576
1  2018  3223
2  2021  3683
3  2023  3976
4  2028  4579

In [133]:
df_pop_proj = pd.DataFrame(new_df,columns = pd.DataFrame(jsonfile[0]['Data'][3]['value'])['key'].tolist() ,index = df['City'].tolist())

In [171]:
df_pop_proj = df_pop_proj.apply(pd.to_numeric)
df_pop_proj

                             2013  2018  2021  2023  2028
Vancouver, BC, Canada        2576  3223  3683  3976  4579
North Vancouver, BC, Canada  1006  1067  1220  1321  1595
West Vancouver, BC, Canada   6030   561  6376  6534  6898
Richmond, BC, Canada          901   883   890   895   903
Burnaby, BC, Canada           402   535   556   569   584
Coquitlam, BC, Canada        4112  5989  6576  6973  8000
Port Moody, BC, Canada       1048  1031  1035  1040  1030
New Westminster, BC, Canada  1757  2095  2491  2753  3637
Surrey, BC, Canada            569   550   613   651   799
Delta, BC, Canada             505   501   507   499   477

In [ ]:
new_df = pd.melt(df_pop_proj, value_vars = df_pop_proj.columns, var_name='Year',value_name='Population',ignore_index=False)
new_df

In [192]:
px.line(new_df,x='Year',y='Population',color=new_df.index,animation_frame=new_df.index,range_y=[0,10000])